// overwrite bootstrap theme variables

$primary: #F0572D;
$dark:#191B1D;
$secondary: #31363F;


// general styles

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



// import bootstrap styles at the bottom
@import 'bootstrap/scss/bootstrap.scss';